<html>
<body>

<center><h2>Cheque Menu</h2></center>
<br><br>


<center>
<STRONG>{% if messa %}<p><strong>Cheque has been {{ messagee }} and cannot be cancelled</strong></p>{% endif %}</STRONG>
<STRONG>{% if mess %}<p><strong>Cheque has been {{ messag }}</strong></p>{% endif %}</STRONG>
<STRONG>{{ message }}</STRONG>

<br><br>
<a href="/cheques/mainMenu/issueChequeBook/"><button type="button"><h4>Issue Cheque-Book</h4></button></a><br><br>

<a href="/cheques/mainMenu/chequePayment/"><button type="button"><h4>Cheque Payment</h4></button></a><br><br>

<a href="/cheques/mainMenu/chequeCancellation/"><button type="button"><h4>Cheque Cancellation</h4></button></a><br><br><br><br>

<a href="/cheques/"><button type="button"><h4>Change Account number</h4></button></a>

<a href="/cheques/mainMenu/chequeStatus/"><button type="button"><h4>Cheque status</h4></button></a>




</center>
</body>
</html>

